
配置选项

Swiper5/Swiper4的配置选项

Swiper初始化

Basic（Swiper一般选项）
    initialSlide
    :"0"
    direction
    :"horizontal"
    speed
    :"300"
    grabCursor
    :"false"
    parallax
    :"false"
    setWrapperSize
    :"false"
    virtualTranslate
    :"false"
    a11y
    :""
    width
    :""
    height
    :""
    roundLengths
    :"false"
    breakpoints
    :""
    autoHeight
    :"false"
    uniqueNavElements
    :"true"
    nested
    :"false"
    runCallbacksOnInit
    :"true"
    watchOverflow
    :"false"
    on
    :""
    init
    :"true"
    preloadImages
    :"true"
    updateOnImagesReady
    :"true"
    cssMode
    :"false"

Slides grid (网格分布)

Free Mode （free模式/抵抗反弹）

Loop (环路)

Progress（进度）

Clicks (点击)

Touches(触发条件)

Swiping / No swiping(禁止切换)

Observer （监视器）

Namespace （命名空间）

Events （事件）

Properties （Swiper属性）

Methods （Swiper方法）

组件

Autoplay (自动切换)

Effects (切换效果)

Pagination（分页器）

Navigation Buttons（前进后退按钮）

Scollbar（滚动条）

Keyboard（键盘）

Mousewheel (鼠标)

Lazy Loading(延迟加载)

Zoom (调焦)

Controller (双向控制)

Thumbs (缩略图)

Virtual Slides (虚拟slide)

Hash Navigation (锚导航)

History Navigation (历史导航)

speed
切换速度，即slider自动滑动开始到结束的时间（单位ms），也是触摸滑动时释放至贴合的时间。

speed